h1{
    color: blue;
}



#h2-1{
    color: red;
}

#h2-2{
    color: green;
}

#h2-3{
    color: red;
}

#h2-4{
    color: green;
}

#h2-5{
    color: red;
}

#h2-6{
    color: green;
}



#p1{
    color: grey;
}

#p2{
    color: orange;
}

#p3{
    color: grey;
}

#p4{
    color: orange;
}

#p5{
    color: grey;
}

#p6{
    color: orange;
}