h1 {color: blue;}

#ti1 {
    color: red;
}

#ti3 {
    color: red;
}

#ti5 {
    color: red;
}

#ti2 {
    color: green;
}

#ti4 {
    color: green;
}

#ti6 {
    color: green;
}

#pr1  {
    color: gray;
}

#pr2  {
    color: orange;
}

#pr3  {
    color: gray;
}

#pr4  {
    color: orange;
}

#pr5  {
    color: gray;
}

#pr6  {
    color: orange;
}