h1{color: blue;}
#h21{ color: red;}
#h23{ color: red;}
#h25{ color: red;}

#h22{ color: green;}
#h24{ color: green;}
#h26{ color: green;}

#p1{ color: gray}
#p3{ color: gray}
#p5{ color: gray}

#p2{ color: orange}
#p4{ color: orange}
#p6{ color: orange}
