.i1 {
    text-align: center;
    text-decoration: none;
    color: yellow;
}

.i2 {
    text-align: center;
    text-decoration: none;
    color: black;
}

.i3 {
    text-align: center;
    text-decoration: none;
    color: green;
}

.i4 {
    text-align: center;
    text-decoration: none;
    color: red;
}