a:link {
    color: blue;
}

a:visited {
    color: red;
    background-color: yellow;
}

a:hover {
    color: green;
}

h1:first-child{
    color: blue;
    text-decoration: underline;
}

h2:first-child{
    color: green;
}

p:first-child{
    color:red;
    text-align:left;
}