.h1{
    color: blue;
}
.hr1{
    color: red;
}
.hr3{
    color: red;
}
.hr5{
    color: red;
}
.hr2{
    color: green;
}
.hr4{
    color: green;
}
.hr6{
    color: green;
}
.pr1{
    color: grey;
}
.pr3{
    color: grey;
}
.pr5{
    color: grey;
}
.pr2{
    color: orange;
}
.pr4{
    color: orange;
}
.pr6{
    color: orange;
}
p{
    color: black;
}